<!DOCTYPE html>
<html>
	<head>
		<title>Ink</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

		<link rel="stylesheet" type="text/css" href="/static/css/global.css">
		<link rel="stylesheet" type="text/css" href="/static/css/form.css">
		<link rel="stylesheet" type="text/css" href="/static/css/modal.css">
		<link rel="stylesheet" type="text/css" href="/static/css/fa.css">

		<script type="text/javascript" src="/static/js/jquery.js"></script>
	</head>
	<body>
		<div id="shadow"></div>
		<nav class="globalWidth">
			<a id="anchor" class="slab" href="/">ink</a>
			<button id="userAction" class="empty slab">
				<% if (typeof(user) != 'undefined') { %>
					<a class="noUnderline" href="/signout">Sign out</a>
				<% } else { %>
					<a class="noUnderline" href="/signin">Sign in</a>
				<% } %>
			</button>
		</nav>
