<% include partials/header %>
	<main>
		<h1 class="title slab">Account</h1>
		<fieldset>
			<legend>Settings</legend>
			<ul>
				<li></li>
			</ul>
		</fieldset>
	</main>
<% include partials/footer %>
