<% include partials/header %>
	<style>
		#folders {
			width: 192px;
			margin: 0 0 0 32px;
			float: left;
			}
			#folders ul {
				list-style: none;
				}
				#folders li {
					height: 36px;
					line-height: 36px;
					cursor: pointer;
					}
					#folders li:hover {
						color: rgb(6, 133, 135);
						}
					#folders li span.fa {
						width: 24px;
						display: inline-block;
						}
					#folders hr {
						width: 192px;
						height: 1px;
						margin: 16px 0;
						position: relative;
						left: -16px;
						background-color: rgb(238, 238, 238);
						}
					#newFolder {
						opacity: 0.3;
						}
						#newFolder:hover {
							opacity: 1;
							}
		#library {
			margin: 0 16px 0 224px;
			list-style: none;
			}
			.article {
				padding: 0 16px 16px 16px;
				}
				.article + .article {
					margin-top: 8px;
					padding-top: 24px;
					border-top: 1px solid rgb(238, 238, 238);;
					}
				div.actions {
					height: 24px;
					color: rgb(180, 180, 180);
					opacity: 0;
					}
					span.action {
						display: inline-block;
						font-size: 14px;
						line-height: 24px;
						}
						li.article:hover div.actions {
							opacity: 1.0;
							}
				a.title {
					margin-bottom: 8px;
					display: block;
					font-size: 24px;
					}
				span.details {
					margin-bottom: 8px;
					display: block;
					font-weight: normal;
					font-size: 14px;
					color: rgb(180, 180, 180);
					}
				p.sample {
					width: 100%;
					max-width: 512px;
					display: block;
					}
	</style>
	<main class="globalWidth">
		<div id="folders" class="serif">
			<ul>
				<li><a class="noUnderline" href="/add"><span class="fa fa-plus"></span>Add article</a></li>
				<hr>
				<li><a class="noUnderline" href="/library"><span class="fa fa-book"></span>Library</a></li>
				<li><a class="noUnderline" href="/library?filter=starred"><span class="fa fa-star"></span>Starred</a></li>
				<li><a class="noUnderline" href="/library?filter=archive"><span class="fa fa-archive"></span>Archive</a></li>
			</ul>
		</div>
		<ul id="library">
			<% if (typeof(articles) != 'undefined' && articles.length > 0) { %>
				<%
					for (var i = 0, len = articles.length; i < len; i++) {
						var article = articles[i];
						%><% include partials/stub %><%
					}
				%>
			<% } else if (filter == 'archive') { %>
				<p id="noArticles" class="serif">No articles in your archive.<br><br><a href="/faq#archive">What is an archive?</a></p>
			<% } else if (filter == 'starred') { %>
				<p id="noArticles" class="serif">No articles starred.<br><br><a href="/faq#star">Wondering how to star articles?</a></p>
			<% } else { %>
				<p id="noArticles" class="serif">Sorry! No articles but you can <a href="/add">add some</a></p>
			<% } %>
		</ul>
		<script>
			$('ul#library').on('click', 'span.action', function () {
				var id = $(this).parent().attr('data-id');
				var which = $(this).attr('data-which');

				if (which === 'delete') {
					if (confirm('Delete this article?')) {
						$.ajax({
							url: '/delete/' + id,
							type: 'DELETE',
							success: function () {
								console.log(arguments);
								$('li.article[data-id=' + id + ']').remove();

								if ($('li.article').length < 1) {
									$('#library').html('<p id="noArticles" class="serif">Sorry! No articles but you can <a href="/add">add some</a></p>');
								}
							}
						});
					}
				} else if (which === 'star') {
					$.ajax({
						url: '/star/' + id,
						type: 'PUT',
						success: function (article) {
							if (article.meta.starred) {
								$('li.article[data-id=' + id + ']').addClass('starred');
							} else {
								$('li.article[data-id=' + id + ']').removeClass('starred');
							}
						}
					});
				} else if (which === 'archive') {
					$.ajax({
						url: '/archive/' + id,
						type: 'PUT',
						success: function (article) {
							if (article.meta.archived) {
								$('li.article[data-id=' + id + ']').addClass('archived');
							} else {
								$('li.article[data-id=' + id + ']').removeClass('archived');
							}
						}
					});
				}
			});
		</script>
	</main>
<% include partials/footer %>
