<% include partials/header %>
	<style>
		nav {
			position: fixed;
			top: 0;
			transition: opacity 0.2s;
			}
			nav.fadedOut {
				opacity: 0;
				transition: opacity 0.2s;
				}
			nav:hover {
				opacity: 1;
				transition: opacity 0.2s;
				background-color: rgba(250, 250, 250, 0.8)
				}
		main {
			margin-top: 74px;
			}
			#frame {
				width: 640px;
				height: 3100px;
				margin: 0 auto;
				display: block;
				border-style: none;
				}
	</style>
	<main class="globalWidth">
		<iframe id="frame" src="/read/<%= article._id %>?raw=true" scrolling="no"></iframe>
	</main>
	<script>
		$(window).resize(function () {
			positionHeader();
		});

		function positionHeader() {
			var headerWidth = $('nav').width();
			var windowWidth = $(window).width();
			$('nav').css('left', (windowWidth - headerWidth) / 2)
		}

		positionHeader();

		var oldPos = 0;
		var navHidden = false;
		$(window).scroll(function () {
			if ($(this).scrollTop() <= 0) {
				if (navHidden === true) {
					$('nav').removeClass('fadedOut');
					navHidden = false;
				}
			} else if (navHidden === false) {
				$('nav').addClass('fadedOut');
				navHidden = true;
			}
		});

		$('#frame').load(function () {
			$(this).height($(this).contents().find('body').height());
		});
	</script>
<% include partials/footer %>
