<% include partials/header %>
	<style>
		nav {
			position: fixed;
			top: 0;
			transition: opacity 0.2s;
			}
			nav.fadedOut {
				opacity: 0;
				transition: opacity 0.2s;
				}
			nav:hover {
				opacity: 1;
				transition: opacity 0.2s;
				background-color: rgba(250, 250, 250, 0.8)
				}
		main {
			margin-top: 74px;
			}
			#frame {
				width: 640px;
				height: 3100px;
				margin: 0 auto;
				display: block;
				border-style: none;
				}
	</style>
	<main class="globalWidth">
		<div id="container"><h1 id="title"><%= article.meta.title %></h1><%- article.content.html %></div>
	</main>
<% include partials/footer %>
