body.modalOpen {
	overflow: hidden;
	}

#shadow {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	overflow: hidden;
	z-index: 100;
	}

#modal {
	width: 512px;
	position: fixed;
	top: 128px;
	left: -webkit-calc(50% - 256px);
	background-color: rgb(250, 250, 250);
	z-index: 1000;
	}
	#modal h2 {
		padding: 32px;
		}
